<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Default Themes</string>
	<key>uuid</key>
	<string>175EE16A-D048-4D6E-85C3-956F080DA9DE</string>
</dict>
</plist>
